# ---------- Java / Maven ----------
target/
*.class
*.log
# Mantén el wrapper de Maven en el repo (NO lo ignores)
# .mvn/wrapper/maven-wrapper.jar  ← NO añadir a .gitignore

# ---------- Node / Angular ----------
node_modules/
dist/
.angular/
out-tsc/
bazel-out/
tmp/
# logs de npm/yarn
npm-debug.log*
yarn-error.log*
# cache y cobertura
.angular/cache/
.sass-cache/
coverage/
# varios
connect.lock
libpeerconnection.log
testem.log
typings/
.history/

# ---------- IDEs ----------
.idea/
.vscode/
.project
.classpath
.settings/
*.launch
*.sublime-workspace
.c9/

# ---------- OS ----------
Thumbs.db
.DS_Store

# ---------- Docker / env ----------
**/.env