<mat-card class="p-4">
  <h2>Buscar habitaciones</h2>

  <form [formGroup]="form" (ngSubmit)="submit()" class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Check-in</mat-label>
      <input
        matInput
        [matDatepicker]="dp1"
        formControlName="checkIn"
        placeholder="aaaa-mm-dd"
      />
      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
      <mat-datepicker #dp1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Check-out</mat-label>
      <input
        matInput
        [matDatepicker]="dp2"
        formControlName="checkOut"
        placeholder="aaaa-mm-dd"
      />
      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Huéspedes</mat-label>
      <input matInput type="number" min="1" formControlName="guests" />
    </mat-form-field>

    <div class="actions">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="loading()"
      >
        Buscar
      </button>
    </div>
  </form>

  <div *ngIf="errorMsg()" class="error">{{ errorMsg() }}</div>
  <div *ngIf="loading()" class="loading">Buscando...</div>

  <table
    *ngIf="!loading()"
    mat-table
    [dataSource]="data()"
    class="mat-elevation-z2 full-width"
  >
    <!-- Código -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let r">{{ r.code }}</td>
    </ng-container>

    <!-- Tipo -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let r">{{ r.type | titlecase }}</td>
    </ng-container>

    <!-- Capacidad -->
    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef>Cap.</th>
      <td mat-cell *matCellDef="let r">{{ r.capacity }}</td>
    </ng-container>

    <!-- Precio -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let r">
        {{ r.price | currency : "USD" : "symbol" : "1.0-0" }}
      </td>
    </ng-container>

    <!-- Amenidades -->
    <ng-container matColumnDef="amenities">
      <th mat-header-cell *matHeaderCellDef>Amenidades</th>
      <td mat-cell *matCellDef="let r">
        <mat-chip-set>
          <mat-chip *ngFor="let c of amenityChips(r.amenities)">
            {{ c }}
          </mat-chip>
        </mat-chip-set>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="empty" *ngIf="data().length === 0">
      <td [attr.colspan]="displayedColumns.length">
        Sin resultados para el rango seleccionado.
      </td>
    </tr>
  </table>
</mat-card>
